.page_title_orange {
    color: $illini-orange;
    font-weight: 700;
    font-family: $ideal-sans;
}

.ib_icon {
    height: 30px;
    border: 0px;
}

$topbar-background: $white;
$topbar-submenu-background: $white;

.footer {
    background-color: $illini-dark-steel-gray;
    padding-top: 20px;
    padding-bottom: 30px;

    a, a:hover, a:visited, a:active, a:link { color: $white; }

    .iconic_social_white {
        fill: $white;
        stroke: $white;
    }

    .social_links {
        p { 
            margin-bottom: 0px;
            font-size: 0.7em;
        }
    }
}

img.right-pad {
    padding-right: 10px;
}

a.red { color: #ff0000; }