.page_title_orange {
    color: $illini-orange;
    font-weight: 700;
    font-family: $ideal-sans;
}

.ib_icon {
    height: 30px;
    border: 0px;
}

$topbar-background: $white;
$topbar-submenu-background: $white;