.original_post {
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid $illini-orange;

    @import "story_callout";

    .parent_post {
        p {
            color: $illini-metallic-silver;
            font-size: 0.9em;
            font-family: $gotham-book;
        }
    }
}

.board_header {
    .b_title {
        color: $illini-orange;
        font-weight: 700;
    }
}

.topic_listing {
    .thread_list_element {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .odd {
        background-color: #f3f3f3;
    }

    .t_title {
        p {
            line-height: 1.0;
            margin-bottom: 0.25rem;
        }
        
        .date {
            font-size: 0.5em;
            color: $illini-metallic-silver;
        }
    }

    img.ib_story {
        height: 25px;
        margin-right: 10px;
    }
}

.thread_content {
    @import "story_callout";
}


.rf_title {
    color: $illini-navy;
    font-weight: 700;
}

.reply_form {
    margin-top: 25px;

    .preview_title {
        font-family: $gotham-book;
        color: $illini-orange;
        font-weight: 700;
        margin-top: -5px;
    }
}

.instructions {
    font-size: 0.8em;
}

.error {
    font-size: 0.8em;
    color: red;
    
    .iconic {
        stroke: red;
        fill: red;
    }
}

input.ib-invalid-input {
  background-color: rgba(236, 88, 64, 0.1) !important;
  border-color: $alert-color !important; 
}

h4.fa_sidebar {
    color: $illini-navy;
    font-weight: 700;
}

h5.fa_sidebar {
    color: $illini-orange;
    font-size: 0.8em;
    font-weight: 700;
}

img.fa_sidebar {
    width: 250px;
}

.fa_sidebar_article {
    border: 1px solid $illini-metallic-silver;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;

    a, a:hover, a:visited, a:active, a:link { color: $illini-orange; }
}